.searchBar{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.searchBar select{
    width: 100%;
    height: 40px;
    margin: auto;
    font-weight: bold;
    margin-bottom: 20px;
}

.button button{
    width: 100%;
    height: 40px;
    font-weight: bolder;
}